#board {
	padding: 0px;
	border-spacing: 0px;
	z-index:10;
}

#board * {
	padding: 0px;
}

#canvas {
	z-index:0;
}

#board, #canvas {
	position:absolute;
	left:0px;
	top:0px;
}

#field {
	position: relative;
	float:left;
	margin:6px;
	border:solid 3px #888888;
	/*z-index: -1;*/
}

#teams {
	margin: 10px;
	padding: 0px;
	/*float: left;*/
}

#sidebar {
	float:left;
}

#bottom {
	clear:both;
}

#sidebar ul {
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
}

body {
	margin:0px;
	background-color:#ffeeee;
}

li.selected {
	font-weight:bold;
}

/*#teamList {
	column-count:auto;
	-webkit-column-count:auto;
	column-width:200px;
	-webkit-column-width:150px;
}*/

.delete {
	height:24px;
	width:24px;
	border-radius:12px;
	background-color:#ff7777;
	color:#ffffff;
	border:none;
	margin:4px;
	font-size:22px;
	text-align: center;
	vertical-align: middle;
}

.delete:before {
	content:"×";
	
}

#sidebar > button {
	height:32px;
	margin:4px;
	background:#dddddd;
	border:solid 3px #888888;
}

* {
	font-family:sans;
}
