#board {
	padding: 0px;
	border-spacing: 0px;
	z-index:10;
}

#board tr {
	padding: 0px;
}

#board tr td {
	padding: 0px;
}

#canvas {
	/*width:550px;
	height:550px;*/
	z-index:0;
}

#canvas,#board {
	position:absolute;
	left:0px;
	top:0px;
}

#field {
	position:relative;
}

body {
	background-color:#dddddd;
}

button.selected {
	font-weight:bold;
}