html
  head
    block head
      title= title
      script(src='/static/jquery-1.11.1.js')
      script(src='/static/jquery-ui.js')
      script(src='/static/common.js')
    body
      block header
        a(href='/games') Games
        | &nbsp;
        a(href='/teams') Teams
        | &nbsp;
        a(href='/scoreboard') Scoreboard
      block pageTitle
      block pageContent
