extends layout

block append head
  style
    | .teamList li, form {
    |   display: inline;
    |   list-style-type: none;
    |   padding-right: 5px;
    | }
    | .school { font-size: 30; }
    | * { font-size: 40; }
    | .score { text-align:right; }
    | table { width:100%; }
    | #time { width:100%; text-align:center; font-size:60; }
    | #foot * { font-size: 24; }
  script
    | gametime = 
    = gametime
    | ; realtime = 
    = realtime
    | ; countdown =
    = countdown
    | ;
  script(src='/static/scoreboard.js')

block header

block pageContent
  div#time
  table
    if state.teams
      each team in state.teams
        tr
          td= teamsMap[team].name + '  '
            if teamsMap[team].school
              span.school= '(' + teamsMap[team].school + ')'
          td.score= state[team].score
  div#foot
    ol
      each game in games
        li
          each team,idx in game.teams
            if idx > 0
              | , 
            = teamsMap[team].name
      
            
